<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Thứ 2</th>
      <th scope="col">Thứ 3</th>
      <th scope="col">Thứ 4</th>
      <th scope="col">Thứ 5</th>
      <th scope="col">Thứ 6</th>
      <th scope="col">Thứ 7</th>
    </tr>
  </thead>
  <tbody>
    {{#each row}}
    <tr>
      <th scope="row">{{this.tiet}}</th>
      {{#each this.dsmon}}
      <td>{{this.mon}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>